USE [master]
GO
/****** Object:  Database [QLBH]    Script Date: 12/12/2016 2:37:25 PM ******/
CREATE DATABASE [QLBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLBH.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLBH_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH]
GO
/****** Object:  Table [dbo].[cthd]    Script Date: 12/12/2016 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cthd](
	[MaHD] [varchar](10) NOT NULL,
	[MaHH] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hanghoa]    Script Date: 12/12/2016 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hanghoa](
	[MaHang] [varchar](10) NOT NULL,
	[TenHang] [nvarchar](max) NOT NULL,
	[DonGia] [int] NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_hanghoa] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hoadon]    Script Date: 12/12/2016 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hoadon](
	[MaHoaDon] [varchar](10) NOT NULL,
	[NgayLap] [date] NULL,
	[NguoiLap] [int] NULL,
	[KhachHang] [varchar](10) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[khachhang]    Script Date: 12/12/2016 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[khachhang](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](max) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NamSinh] [date] NULL,
	[SDT] [varchar](12) NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
 CONSTRAINT [PK_khachhang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 12/12/2016 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nhanvien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[TenNhanVien] [nvarchar](max) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NamSinh] [date] NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[SDT] [varchar](12) NOT NULL,
	[MatKhau] [varchar](20) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[hanghoa] ([MaHang], [TenHang], [DonGia], [SoLuong]) VALUES (N'BB-22', N'asdasd', 30000, 50)
INSERT [dbo].[hanghoa] ([MaHang], [TenHang], [DonGia], [SoLuong]) VALUES (N'HH-001', N'Bút', 2000, 60)
SET IDENTITY_INSERT [dbo].[nhanvien] ON 

INSERT [dbo].[nhanvien] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NamSinh], [DiaChi], [SDT], [MatKhau]) VALUES (1, N'Nguyễn Hoàng Vũ', N'Nam', CAST(0x981B0B00 AS Date), N'Test', N'01234567897', NULL)
INSERT [dbo].[nhanvien] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NamSinh], [DiaChi], [SDT], [MatKhau]) VALUES (2, N'Nguyễn asd', N'Nam', CAST(0xB51B0B00 AS Date), N'tatea', N'3134646876', NULL)
INSERT [dbo].[nhanvien] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NamSinh], [DiaChi], [SDT], [MatKhau]) VALUES (3, N'asdasdasd', N'Nữ', CAST(0x681A0B00 AS Date), N'asdad', N'13214654897', NULL)
SET IDENTITY_INSERT [dbo].[nhanvien] OFF
ALTER TABLE [dbo].[cthd]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_hanghoa] FOREIGN KEY([MaHH])
REFERENCES [dbo].[hanghoa] ([MaHang])
GO
ALTER TABLE [dbo].[cthd] CHECK CONSTRAINT [FK_CTHD_hanghoa]
GO
ALTER TABLE [dbo].[cthd]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_hoadon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[hoadon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[cthd] CHECK CONSTRAINT [FK_CTHD_hoadon]
GO
ALTER TABLE [dbo].[hoadon]  WITH CHECK ADD  CONSTRAINT [FK_hoadon_khachhang] FOREIGN KEY([KhachHang])
REFERENCES [dbo].[khachhang] ([MaKH])
GO
ALTER TABLE [dbo].[hoadon] CHECK CONSTRAINT [FK_hoadon_khachhang]
GO
ALTER TABLE [dbo].[hoadon]  WITH CHECK ADD  CONSTRAINT [FK_hoadon_nhanvien] FOREIGN KEY([NguoiLap])
REFERENCES [dbo].[nhanvien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[hoadon] CHECK CONSTRAINT [FK_hoadon_nhanvien]
GO
USE [master]
GO
